/* The cloud div */

.tip-section{
    background-image: url("bilder/Q1_newsletter-02.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:60vh;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .tip-section h2{
    padding: 10px 30px 10px;
    }
    
    .tip-section p{
        width: 50%;
        line-height: 24px;
    }